<section class="sidebar">
  <h2 class="chatnames">Friends Online</h2>
  <div class="chatlist">

  </div>
</section>
<section class="messageboard">

</section>
<form class="createmessage">
  <input class="typemessage" type="text" placeholder="Type your message here">
  <input class="submit-message" type="submit" value="Send">
</form>
