
<section class="logincontent">
  <span class="title"><i class="fa fa-server"></i>BackTalk</span>
  <form class="login-form" style="color: white">
    <input class="login-form-username" type="text" placeholder="Username">
    <input type="submit" value="Log In" class="log-in-button">
  </form>
</section>
