<div class="message">
  <header class="messageheader">
  <span class="poster">{{username}}</span><span class="posttime">{{moment created_at}}</span>
  </header>
  <span class="messagecontent">{{content}}</span>
</div>
